<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit scores</title>
</head>

<body>
    <form action="{{ url_for("edit_grades", id=student_id) }}" method="post">
        <h1>Edit Grades</h1>
        <label for="ia_score">IA Score (40%)</label>
        <input type="number" name="ia_score">
    
        <label for="exam_score">Exam Score (60%)</label>
        <input type="number" name="exam_score">

        <button type="submit">Save Changes</button>
    </form>
    
</body>
</html>