<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Edit scores</title>
</head>

<body>
    <div class="logo">
        <img src="/static/images/logo.png" alt="">
    </div>

    <div class="container">
        <form action="/edit_grades/{{student_id}}" method="post">
            <h1>Edit Grades</h1>
            <div class="label">
                <label for="ia_score">IA Score (40%)</label>
                <input type="number" name="ia_score">
            </div>
        
            <div class="label">
                <label for="exam_score">Exam Score (60%)</label>
                <input type="number" name="exam_score">
            </div>
        
            <button type="submit" class="button">Save Changes</button>
        </form>
        <div class="down">
            <div class="copyright">
                <p>&copy</p>
            </div>
        
            <div class="school">
                <p>GradeWise</p>
                <p>+233440000000</p>
            </div>
        
            <div class="footer_logo">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>