<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Grading system</title>
</head>
<body>
    <div class="logo">
        <img src="/static/images/logo.png" alt="">
    </div>
    <div class="container">
        <h1>GRADEWISE</h1>
        <p>Student Grades Manager</p>
        <a href="/teacher_signup" class="button">INSTRUCTOR</a>
        <a href="/student_signup" class="button">STUDENT</a>

    
        <div class="down">
            <div class="copyright">
                <p>&copy</p>
            </div>
        
            <div class="school">
                <p>GradeWise</p>
                <p>+233440000000</p>
            </div>
            
            <div class="footer_logo">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>