<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Sign up</title>
</head>

<body>

    <div class="logo">
        <img src="/static/images/logo.png" alt="">
    </div>
    <div class="container">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{message}}
        </div>

        <form action="{{ url_for("teacher_signup") }}" method="post">
            <h1>Sign Up</h1>
            <div class="label">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="label">
                <label for="course_code">Course Code</label>
                <input type="text" name="course_code">
            </div>
            <div class="label">
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div class="label">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="label">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password">
            </div>
            <button type="submit" class="button">Sign up</button>
        </form>

        <p>Already have an account?</p><a href="/teacher_login">login</a>

        <div class="down">
            <div class="copyright">
                <p>&copy</p>
            </div>
        
            <div class="school">
                <p>GradeWise</p>
                <p>+233440000000</p>
            </div>
        
            <div class="footer_logo">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>

    </div>
</body>

</html>